body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

nav {
  font-size: 17px;
  background-color: rgba(10, 10, 25);
  text-align: right;
  height: 20px;
  padding: 20px 30px;
  margin: -8px;
}

nav h1 {
  text-align: left;
  color: white;
  margin: -15px 10px -30px 10px;
  font-size: 36px;
  font-weight: normal;
}

nav a {
  color: white;
  height: 20px;
  padding: 20px;
}


/*pseudoclasses in navigation*/

nav a:hover {
  color: white;
  background-color: rgba(50, 50, 70);
}

nav a:active {
  color: lightblue;
  background-color: rgba(70, 70, 90);
}

h1 {
  margin: -20px 0px 0px 0px;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 36px;
  font-weight: normal;
}

section {
  text-align: center;
  margin: 100px 20%;
}

h3,
p {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}


/*ordered list does not have visible numbers*/

ol {
  color: black;
  margin: 0px 0px 0px -60px;
}

li {
  list-style-position: inside;
}


/*removes underline from links*/

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

a:active {
  color: lightblue;
  background-color: rgba(70, 70, 90);
}


/*for less height on the bottom nav*/

.reduce-padding {
  height: 20px;
  padding: 10px;
  margin: -8px;
}


/*for list alignment*/

.leftalign {
  text-align: left;
}